@page "/payloads"

@using CP380_B1_BlockList.Models
@using Data

<h3>Pending Transactions</h3>

@if (payloads == null)
{
    <p><em>Loading...</em></p> }
else
{
    <html>
    <head>
        <style>
            .button {
                border: none;
                color: white;
                padding: 8px 12px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }

            .button1 {
                background-color: #008CBA;
            }

                .button1:hover {
                    background-color: #001c47 !important;
                    color: #fff !important;
                    border-color: #001c47 !important;
                }

            .pull-right {
                float: right !important;
                margin-right: 114px !important;
            }
            .action-text {
                font-weight: 400;
                color: #001c47 !important;
                cursor: pointer;
            }
            .action-text:hover {
                font-weight: 400;
                color: #00a0e3 !important;
                cursor: pointer;
            }
            .prj-crt-form {
                margin-right: -250px !important;
                margin-left: 100px !important;
                padding-top: 15px !important;
            }
        </style>
    </head>
    <body>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">TransactionType</th>
                        <th scope="col">Item</th>
                        <th scope="col">Amount</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Payload payload in payloads)
                    {
                        <tr>
                            @if (payload == null)
                            {
                                <td scope="row">No Payloads to display</td>

                            }
                            else
                            {


                                <td scope="row">@payload.TransactionType.ToString()</td>
                                <td>@payload.Item</td>
                                <td>@payload.Amount</td>
                                <td>@payload.User</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <p></p>

        <p>@submitResponse</p>



        <EditForm Model="@Payload">
            <h3>Add Pending Payloads</h3>
            <hr />


            <div class="form-group row">
                <div class="col-md-4 pl-0">
                    <label for="firstName" class="form-label">
                        User
                    </label>

                    <InputText id="User" class="form-control" placeholder="User"
                               @bind-Value="Payload.User" />
                </div>


                <div class="col-md-4 pl-0">
                    <label for="lastName" class="form-label">
                        Transaction Type
                    </label>
                    <InputSelect id="TransactionType" class="form-control" placeholder="Select Transaction Type" @bind-Value="Payload.TransactionType">

                        <option value="3">BUY</option>
                        <option value="1">SELL</option>
                        <option value="2">GRANT</option>
                    </InputSelect>

                </div>





                <div class="col-md-4 pl-0">
                    <label for="email" class="form-label">
                        Amount
                    </label>
                    <InputText id="Amount" class="form-control" placeholder="Amount"
                               @bind-Value="amount" />
                </div>


                <div class="col-md-4 pl-0">
                    <label for="item" class="form-label">
                        Item
                    </label>
                    <InputText id="Item" class="form-control" placeholder="Item"
                               @bind-Value="Payload.Item" />
                </div>
            </div>
            <div class="pull-right">
                <button class="button button1" @onclick="HandleValidSubmit">
                    Add Payload
                </button>
            </div>

        </EditForm>
        
    </body>
</html>

}


<!-- TODO: Add EditForm to submit a new transaction to the server -->


@code { private IEnumerable<Payload> payloads;
    private Payload Payload = new Payload("", 0, 0, "");
    String amount = "";
    private string submitResponse = "";
    PendingTransactionService service = new PendingTransactionService();

    protected override async Task OnInitializedAsync()
    {
        payloads = (await service.FetchPayloads()).ToList();
    }

    private async Task HandleValidSubmit()
    {
        Payload.Amount = Convert.ToInt32(amount);
        HttpResponseMessage response = await service.AddPayload(Payload);
        if (response.IsSuccessStatusCode)
        {
            
            payloads = (await service.FetchPayloads()).ToList();
        }
        else
        {
            submitResponse = response.ReasonPhrase;
        }
    } }
